<div *ngIf="!showConnectionError; else NoInternetConnection">
  <div class="container" *ngIf="!loading">
    <h1 class="title">{{appTitle}}  </h1>

    <app-todos></app-todos>

    <app-todo-form></app-todo-form>

    <button (click)="toggle()">Toggle PopOver</button>
    <div [@popOverState]="stateName">
      <p>Hello! I'm a helpful message.</p>
    </div>
    <div class="show-entries-root">
      <select [(ngModel)]="showEntries" (change)="fetchTodos()">
        <option *ngFor="let item of entries"> {{item}}</option>
      </select>
      <img class="loading-svg-small" *ngIf="loadingSmall" src="assets/img/loading.svg" alt="loading...">
    </div>
  </div>

  <div *ngIf="loading" class="loading_root">
    <img class="loading-svg" src="assets/img/loading.svg" alt="loading...">
  </div>
</div>

<ng-template #NoInternetConnection><h2 style="text-align: center"> No internet connection</h2></ng-template>
